<h3> Shades of Gray </h3>
<div>

<!-- <%= for {{b, c}, i} <- [ -->
<!--   {{"ffffff", "bababa"}, 0}, -->
<!--   {{"f5f5f5", "ababab"}, 1}, -->
<!--   {{"ebebeb", "9b9b9b"}, 2}, -->
<!--   {{"e0e0e0", "888888"}, 3}, -->
<!--   {{"d4d4d4", "717171"}, 4}, -->
<!--   {{"c8c8c8", "525252"}, 5}, -->
<!--   {{"bababa", "000000"}, 6}, -->
<!--   {{"ababab", "ffffff"}, 7}, -->
<!--   {{"9b9b9b", "f5f5f5"}, 8}, -->
<!--   {{"888888", "ebebeb"}, 9}, -->
<!--   {{"717171", "e0e0e0"}, 10}, -->
<!--   {{"525252", "d4d4d4"}, 11}, -->
<!--   {{"000000", "c8c8c8"}, 12} -->
<!--             ] do %> -->
<!-- <span style = "background-color: #<%= b %>; color: #<%= c %>;">&nbsp; <%= i %>  &nbsp;</span> -->
<!-- <% end %> -->

<span style = "background-color: #ffffff; color: #bababa;">&nbsp; 0  &nbsp;</span>
<span style = "background-color: #f5f5f5; color: #ababab;">&nbsp; 1  &nbsp;</span>
<span style = "background-color: #ebebeb; color: #9b9b9b;">&nbsp; 2  &nbsp;</span>
<span style = "background-color: #e0e0e0; color: #888888;">&nbsp; 3  &nbsp;</span>
<span style = "background-color: #d4d4d4; color: #717171;">&nbsp; 4  &nbsp;</span>
<span style = "background-color: #c8c8c8; color: #525252;">&nbsp; 5  &nbsp;</span>
<span style = "background-color: #bababa; color: #000000;">&nbsp; 6  &nbsp;</span>
<span style = "background-color: #ababab; color: #ffffff;">&nbsp; 7  &nbsp;</span>
<span style = "background-color: #9b9b9b; color: #f5f5f5;">&nbsp; 8  &nbsp;</span>
<span style = "background-color: #888888; color: #ebebeb;">&nbsp; 9  &nbsp;</span>
<span style = "background-color: #717171; color: #e0e0e0;">&nbsp; 10  &nbsp;</span>
<span style = "background-color: #525252; color: #d4d4d4;">&nbsp; 11  &nbsp;</span>
<span style = "background-color: #000000; color: #c8c8c8;">&nbsp; 12  &nbsp;</span>

<br />

<span style=" color: #ffffff;">Hello</span>
<span style=" color: #f5f5f5;">Hello</span>
<span style=" color: #ebebeb;">Hello</span>
<span style=" color: #e0e0e0;">Hello</span>
<span style=" color: #d4d4d4;">Hello</span>
<span style=" color: #c8c8c8;">Hello</span>
<span style=" color: #bababa;">Hello</span>
<span style=" color: #ababab;">Hello</span>
<span style=" color: #9b9b9b;">Hello</span>
<span style=" color: #888888;">Hello</span>
<span style=" color: #717171;">Hello</span>
<span style=" color: #525252;">Hello</span>
<span style=" color: #000000;">Hello</span>

</div>
<h3> Some other colors </h3>
<div>
<!-- <%= for {{b, c}, i} <- [ -->
<!--         {{"ff01ff", "ba23ba"}, 0}, -->
<!--   {{"f506f5", "ab2bab"}, 1}, -->
<!--   {{"eb0beb", "9b339b"}, 2}, -->
<!--   {{"e011e0", "883c88"}, 3}, -->
<!--   {{"d416d4", "714871"}, 4}, -->
<!--   {{"c81dc8", "525752"}, 5}, -->
<!--   {{"ba23ba", "008000"}, 6}, -->
<!--   {{"ab2bab", "ff01ff"}, 7}, -->
<!--   {{"9b339b", "f506f5"}, 8}, -->
<!--   {{"883c88", "eb0beb"}, 9}, -->
<!--   {{"714871", "e011e0"}, 10}, -->
<!--   {{"525752", "d416d4"}, 11}, -->
<!--   {{"008000", "c81dc8"}, 12} -->

<!--             ] do %> -->
<!-- <span style = "background-color: #<%= b %>; color: #<%= c %>;">&nbsp; <%= i %>  &nbsp;</span> -->
<!-- <% end %> -->

<div>
<span style = "background-color: #ff01ff; color: #ba23ba;">&nbsp; 0  &nbsp;</span>

<span style = "background-color: #f506f5; color: #ab2bab;">&nbsp; 1  &nbsp;</span>

<span style = "background-color: #eb0beb; color: #9b339b;">&nbsp; 2  &nbsp;</span>

<span style = "background-color: #e011e0; color: #883c88;">&nbsp; 3  &nbsp;</span>

<span style = "background-color: #d416d4; color: #714871;">&nbsp; 4  &nbsp;</span>

<span style = "background-color: #c81dc8; color: #525752;">&nbsp; 5  &nbsp;</span>

<span style = "background-color: #ba23ba; color: #008000;">&nbsp; 6  &nbsp;</span>

<span style = "background-color: #ab2bab; color: #ff01ff;">&nbsp; 7  &nbsp;</span>

<span style = "background-color: #9b339b; color: #f506f5;">&nbsp; 8  &nbsp;</span>

<span style = "background-color: #883c88; color: #eb0beb;">&nbsp; 9  &nbsp;</span>

<span style = "background-color: #714871; color: #e011e0;">&nbsp; 10  &nbsp;</span>

<span style = "background-color: #525752; color: #d416d4;">&nbsp; 11  &nbsp;</span>

<span style = "background-color: #008000; color: #c81dc8;">&nbsp; 12  &nbsp;</span>
</div>


<div>
<span style = "background-color: #ffffff; color: #baffba;">&nbsp; 0  &nbsp;</span>

<span style = "background-color: #f5fff5; color: #abffab;">&nbsp; 1  &nbsp;</span>

<span style = "background-color: #ebffeb; color: #9bff9b;">&nbsp; 2  &nbsp;</span>

<span style = "background-color: #e0ffe0; color: #88ff88;">&nbsp; 3  &nbsp;</span>

<span style = "background-color: #d4ffd4; color: #71ff71;">&nbsp; 4  &nbsp;</span>

<span style = "background-color: #c8ffc8; color: #52ff52;">&nbsp; 5  &nbsp;</span>

<span style = "background-color: #baffba; color: #00ff00;">&nbsp; 6  &nbsp;</span>

<span style = "background-color: #abffab; color: #ffffff;">&nbsp; 7  &nbsp;</span>

<span style = "background-color: #9bff9b; color: #f5fff5;">&nbsp; 8  &nbsp;</span>

<span style = "background-color: #88ff88; color: #ebffeb;">&nbsp; 9  &nbsp;</span>

<span style = "background-color: #71ff71; color: #e0ffe0;">&nbsp; 10  &nbsp;</span>

<span style = "background-color: #52ff52; color: #d4ffd4;">&nbsp; 11  &nbsp;</span>

<span style = "background-color: #00ff00; color: #c8ffc8;">&nbsp; 12  &nbsp;</span>
</div>



<div>
  If the base color is clear the <i>clear</i> shades become dark
</div>

<span style = "background-color: #774b03; color: #896325;">&nbsp; 0  &nbsp;</span>

<span style = "background-color: #7a4e08; color: #8d692c;">&nbsp; 1  &nbsp;</span>

<span style = "background-color: #7c520d; color: #926e35;">&nbsp; 2  &nbsp;</span>

<span style = "background-color: #7f5612; color: #97753e;">&nbsp; 3  &nbsp;</span>

<span style = "background-color: #825a18; color: #9d7d49;">&nbsp; 4  &nbsp;</span>

<span style = "background-color: #865f1e; color: #a58858;">&nbsp; 5  &nbsp;</span>

<span style = "background-color: #896325; color: #bba581;">&nbsp; 6  &nbsp;</span>

<span style = "background-color: #8d692c; color: #774b03;">&nbsp; 7  &nbsp;</span>

<span style = "background-color: #926e35; color: #7a4e08;">&nbsp; 8  &nbsp;</span>

<span style = "background-color: #97753e; color: #7c520d;">&nbsp; 9  &nbsp;</span>

<span style = "background-color: #9d7d49; color: #7f5612;">&nbsp; 10  &nbsp;</span>

<span style = "background-color: #a58858; color: #825a18;">&nbsp; 11  &nbsp;</span>

<span style = "background-color: #bba581; color: #865f1e;">&nbsp; 12  &nbsp;</span>


<!-- <%= for {{b, c}, i} <- [ -->
<!--        {{"774b03", "896325"}, 0}, -->
<!--   {{"7a4e08", "8d692c"}, 1}, -->
<!--   {{"7c520d", "926e35"}, 2}, -->
<!--   {{"7f5612", "97753e"}, 3}, -->
<!--   {{"825a18", "9d7d49"}, 4}, -->
<!--   {{"865f1e", "a58858"}, 5}, -->
<!--   {{"896325", "bba581"}, 6}, -->
<!--   {{"8d692c", "774b03"}, 7}, -->
<!--   {{"926e35", "7a4e08"}, 8}, -->
<!--   {{"97753e", "7c520d"}, 9}, -->
<!--   {{"9d7d49", "7f5612"}, 10}, -->
<!--   {{"a58858", "825a18"}, 11}, -->
<!--   {{"bba581", "865f1e"}, 12} -->

<!--             ] do %> -->
<!-- <span style = "background-color: #<%= b %>; color: #<%= c %>;">&nbsp; <%= i %>  &nbsp;</span> -->
<!-- <% end %> -->

</div>
